.dash-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dash-banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 100%;
  background-color: var(--clr-neutral-900);
  background-size: cover;
}

.dash-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: var(--text);
  background-color: var(--clr-neutral-900);
}
.dash-content .cards {
  display: flex;
  flex-wrap: wrap;
}
.dash-content .cards .card-small {
  margin: 1em;
}

.content-top {
  width: 100%;
  display: grid;
  grid-column: 3;
}
.content-top h1 {
  font-size: var(--fs-900);
}
.content-top h3 {
  font-size: var(--fs-700);
}
